
body {
    font-family: Arial, sans-serif;
    background-color: #F1EADA;
    color: #584738;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B59E7D;
    color: #F1EADA;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

section {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #CEC1A8;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #AAA396;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
